<!-- <div class="container">
    <div class="add-book-items">
        
    <div class="add-book-items">
        
    </div>
</div> -->

<section class="add-book">
    <h2>Add Book</h2>
    <div class="add-book-item">
        <div class="container">
            <div class="input-item">
                <h3>Title</h3>
                <input matInput type="text" class="text-input">
            </div>
            <div class="input-item">
                <h3>Cover</h3>
                <input matInput type="text" class="text-input">
            </div>
            <div class="input-item">
                <h3>Genre</h3>
                <input matInput type="text" class="text-input">
            </div>
            <div class="input-item">
                <h3>Author</h3>
                <input matInput type="text" class="text-input">
            </div>
        </div>
        <div class="container">
            <div id="content-input-item" class="input-item">
                <h3>Content</h3>
                <input matInput id="content-input" type="text" class="text-input">
            </div>
        </div>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary">Add</button>
        <button mat-raised-button color="accent">Clear</button>
    </div>
</section>
