.book-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 190px;
    width: 650px;
    border: solid 2px #000;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
}

img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    object-position: 0 0;
}

button{
    margin: 0 5px;
}

.info{
    width: 250px;
}